QPushButton {
    background-color: transparent;
}

QPushButton:hover {
    margin-top: -10px;
}

QLabel {
    color: #ffbb00;
    padding-left: 50px;
}

.QWidget {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #eaf0fb, stop:1 #f8eef7);
    border: 2px solid qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #d9e7f9, stop:1 #f6e2f2);
}